.cover__link {
    position: relative;
    max-width: 1184px;
    margin: 92px auto 92px auto;
    min-height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../../../images/cover-trains.jpg);
    text-decoration: none;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover__link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
}

.cover__link:hover:before {
    opacity: 0.8;
}

@media screen and (max-width: 1270px){
    .cover__link {
        min-height: calc((100vw - 96px) * (1280/2048));
        max-width: calc(100vw - 96px);
    }
}



@media screen and (max-width: 1030px){
    .cover__link {
        max-width: 100%;
        min-height: calc((100vw) * (1280/2048));
    }
}



@media screen and (max-width: 770px){
    .cover__link {
        margin-top: 90px;
        margin-bottom: 87px;
    }
}


@media screen and (max-width: 600px){
    .cover__link {
        margin: 40px auto 40px auto;
    }
}

@media screen and (max-width: 330px){
    .cover__link {
        margin: 69px auto 65px auto;
    }
}