.place__title {
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    width: fit-content;
}


@media screen and (max-width: 770px){
    .place__title{
        font-size: 42px;
        line-height: 46px;
        max-width: 328px;
    }
}



@media screen and (max-width: 600px){
    .place__title {
        margin-left: 20px;
        font-size: 30px;
        line-height: 33px;
    }
}



@media screen and (max-width: 330px){
    .place__title{
        font-size: 32px;
        line-height: 35px;
        margin: 0 16px;
        max-width: calc(100vw - 32px);
        align-self: center;
    }
}

