.photo-grid__item {
    /* width: calc((100vw - 16px*3 - 96px)/4); */
    width: 100%;
}


@media screen and (max-width: 1030px){
    .photo-grid__item {
        width: calc((100vw - 14px*2 - 96px)/3);
    }
}

@media screen and (max-width: 770px){
    .photo-grid__item {
        width: calc((100vw - 16px - 48px)/2);
    }
}

@media screen and (max-width: 330px){
    .photo-grid__item {
        width: calc(100vw - 32px);
    }
}
