.header {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    min-height: 52px;
    padding-bottom: 28px;
    padding-top: 28px;
    width: 100%;
    max-width: calc(100% - 96px);
}

@media screen and (max-width: 1030px){
    .header {
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 770px){
    .header {
        max-width: calc(100vw - 48px);
    }
}

@media screen and (max-width: 330px){
    .header {
        max-width: calc(100vw - 32px);
        padding-top: 16px;
    }
}