.footer__links {
    margin: 0;
    display: flex;
    list-style: none;
    padding: 0;
}


@media screen and (max-width: 600px){
    .footer__links  {
        flex-direction: column;
        justify-content: space-between;
        min-height: 300px;
    }
}

@media screen and (max-width: 330px){
    .footer__links  {
        min-height: 248px;
    }
}