.place__paragraph {
    margin: 0;
    max-width: 484px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin-bottom: 26px;
}


.place__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 770px){
    .place__paragraph{
        font-size: 16px;
    }
}


@media screen and (max-width: 600px){
    .place__paragraph{
        margin-left: 20px;
    }
}


@media screen and (max-width: 330px){
    .place__paragraph{
        line-height: 26px;
        margin: 0 16px 25px;
        max-width: calc(100vw - 32px);
    }
}

