.place__img {
    width: 100%;
    max-width: 460px;
    max-height: 460px;
    object-fit: cover;
    /* width: calc(100vw - 148px*2 - 40px - 484px); */
}


@media screen and (max-width: 600px){
    .place__img {
      justify-self: center;
    }
}

@media screen and (max-width: 330px){
    .place__img {
        width: 320px;
        height: 320px;
    }
}
