.place {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
    padding-top: 80px;
    grid-column-gap: 40px;
    grid-row-gap: 48px;
}

@media screen and (max-width: 1030px){
    .place {
        grid-template-columns: 440px 456px;
        grid-column-gap: 32px;
    }
}


@media screen and (max-width: 930px){
    .place {
        grid-template-columns: 370px 370px;
    }
}


@media screen and (max-width: 770px){
    .place {
        grid-template-columns: 340px 352px;
        grid-column-gap: 28px;
        padding-top: 71px;
    }
}

@media screen and (max-width: 720px){
    .place {
        grid-template-columns: 40vw 40vw;
        grid-column-gap: 5vw;
    }
}


@media screen and (max-width: 600px){
    .place {
        grid-template-columns: 100vw;
        padding-top: 50px;
        gap: 32px;
    }
}


@media screen and (max-width: 330px){
    .place {
        margin-top: 50px;
        /* было 55 */
        padding-top: 0;
    }
}

