.footer {
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: calc(100% - 96px);
    justify-content: space-between;
    align-items: start;
    margin-bottom: 24px;
    min-height: 18px;
}

@media screen and (max-width: 770px){
    .footer {
        max-width: calc(100vw - 48px);
    }
}


@media screen and (max-width: 600px){
    .footer {
        margin: 0 118px 0 16px;
        max-width: calc(100vw - 16px - 118px);
        flex-direction: column;
        min-height: 310px;
        margin-bottom: 24px;
    }
}

