.header__lang-links {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 18px;
    margin-top: 18px;
    margin-bottom: 6px;
    align-items: end;
}



@media screen and (max-width: 330px){
    .header__lang-links {
        margin-top: 8px;
        margin-bottom: 18px;
    }
}