.header__lang-links {
    display: flex;
    align-self: center;
    margin-top: 28px;
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 330px){
    .header__lang-links {
        margin-top: 0;
    }
} 