.intro__title {
    margin: 0;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
}


@media screen and (max-width: 330px){
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}